In [4]:
import warnings
warnings.filterwarnings("ignore")

import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv('./athlete_events.csv')
df.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [6]:

# Contar el número de participantes únicos por NOC
participantes_por_noc = df.groupby('NOC')['ID'].nunique().reset_index(name='Participantes')

print("Cantidad de Participantes por NOC:")
print(participantes_por_noc.head())

Cantidad de Participantes por NOC:
   NOC  Participantes
0  AFG            103
1  AHO             55
2  ALB             45
3  ALG            373
4  AND             61

In [7]:

# Contar el número de participantes únicos por NOC
participantes_por_noc = df.groupby('NOC')['ID'].nunique().reset_index(name='Participantes')

# Ordenar por el número de participantes en orden descendente y seleccionar los primeros cinco
ranking_top5_noc = participantes_por_noc.sort_values(by='Participantes', ascending=False).head(5)

print("Ranking de los cinco NOC con más participantes:")
print(ranking_top5_noc)

Ranking de los cinco NOC con más participantes:
     NOC  Participantes
216  USA           9653
74   GBR           6281
69   FRA           6170
100  ITA           4935
79   GER           4872

In [8]:
# Ordenar por el número de participantes en orden descendente y seleccionar los primeros cinco
ranking_top5_noc = participantes_por_noc.sort_values(by='Participantes', ascending=False).head(5)

ranking_top5_noc

     NOC  Participantes
216  USA           9653
74   GBR           6281
69   FRA           6170
100  ITA           4935
79   GER           4872

In [10]:


# 1. Cantidad de Participantes por NOC
participantes_por_noc = df.groupby('NOC')['ID'].nunique().reset_index(name='Participantes')
print("Cantidad de Participantes por NOC:")
print(participantes_por_noc.head(30), "\n")

# 2. Cantidad de Medallas por NOC
df_medallas = df[df['Medal'].notna()]
medallas_por_noc = df_medallas.groupby('NOC')['Medal'].count().reset_index(name='Medallas')
print("Cantidad de Medallas por NOC:")
print(medallas_por_noc.head(30), "\n")

# 3. Distribución de Participación por Género en cada NOC
participacion_por_noc_genero = df.groupby(['NOC', 'Sex'])['ID'].nunique().unstack(fill_value=0)
print("Participación por NOC y Género:")
print(participacion_por_noc_genero.head(30), "\n")

# 4. Cantidad de Medallas por NOC y Género
medallas_por_noc_genero = df_medallas.groupby(['NOC', 'Sex'])['Medal'].count().unstack(fill_value=0)
print("Cantidad de Medallas por NOC y Género:")
print(medallas_por_noc_genero.head(30), "\n")

Cantidad de Participantes por NOC:
    NOC  Participantes
0   AFG            103
1   AHO             55
2   ALB             45
3   ALG            373
4   AND             61
5   ANG            163
6   ANT             70
7   ANZ             53
8   ARG           1848
9   ARM            146
10  ARU             32
11  ASA             29
12  AUS           3820
13  AUT           2337
14  AZE            193
15  BAH            162
16  BAN             38
17  BAR            115
18  BDI             25
19  BEL           2078
20  BEN             54
21  BER            121
22  BHU             21
23  BIH             73
24  BIZ             52
25  BLR            763
26  BOH             66
27  BOL             89
28  BOT             62
29  BRA           2053

Cantidad de Medallas por NOC:
    NOC  Medallas
0   AFG         2
1   AHO         1
2   ALG        17
3   ANZ        29
4   ARG       274
5   ARM        16
6   AUS      1320
7   AUT       450
8   AZE        44
9   BAH        40
10  BAR         1
11  BDI         2
12  BEL       468
13  BER         1
14  BLR       139
15  BOH        12
16  BOT         1
17  BRA       475
18  BRN         3
19  BUL       342
20  CAN      1352
21  CHI        32
22  CHN       989
23  CIV         3
24  CMR        22
25  COL        28
26  CRC         4
27  CRO       149
28  CUB       409
29  CYP         1

Participación por NOC y Género:
Sex     F     M
NOC
AFG     4    99
AHO    10    45
ALB    16    29
ALG    55   318
AND    18    43
ANG    75    88
ANT    18    52
ANZ     2    51
ARG   313  1535
ARM    28   118
ARU    11    21
ASA     5    24
AUS  1281  2539
AUT   503  1834
AZE    48   145
BAH    30   132
BAN    10    28
BAR    21    94
BDI     8    17
BEL   290  1788
BEN     9    45
BER    23    98
BHU    13     8
BIH    22    51
BIZ     7    45
BLR   333   430
BOH     1    65
BOL    19    70
BOT     5    57
BRA   567  1486

Cantidad de Medallas por NOC y Género:
Sex    F    M
NOC
AFG    0    2
AHO    0    1
ALG    3   14
ANZ    2   27
ARG   73  201
ARM    1   15
AUS  547  773
AUT   97  353
AZE   10   34
BAH   14   26
BAR    0    1
BDI    1    1
BEL   23  445
BER    0    1
BLR   77   62
BOH    2   10
BOT    0    1
BRA  135  340
BRN    3    0
BUL  128  214
CAN  520  832
CHI    1   31
CHN  654  335
CIV    1    2
CMR    2   20
COL   13   15
CRC    4    0
CRO   15  134
CUB   93  316
CYP    0    1

In [12]:


# Contar el número de participantes por NOC y género
participacion_por_noc_genero = df.groupby(['NOC', 'Sex'])['ID'].nunique().unstack(fill_value=0)

# Crear un DataFrame con el ranking de participantes por género
ranking_participantes = participacion_por_noc_genero.sort_values(by=['F', 'M'], ascending=False)

print("Ranking de Países con Más Participantes por NOC y Género:")
print(ranking_participantes.head(30))

Ranking de Países con Más Participantes por NOC y Género:
Sex     F     M
NOC
USA  2613  7040
CAN  1611  3200
GBR  1565  4716
CHN  1418  1246
GER  1337  3535
AUS  1281  2539
JPN  1264  2803
FRA  1157  5013
ITA  1032  3903
RUS  1014  1414
NED   864  2075
KOR   837  1556
SWE   751  3036
URS   714  2234
POL   694  2276
ESP   661  1976
HUN   634  2127
BRA   567  1486
ROU   556  1242
SUI   542  2341
UKR   516   618
AUT   503  1834
NZL   448   878
GDR   435   925
NOR   422  1794
FRG   417  1291
BUL   403  1099
GRE   370  1339
FIN   369  1978
TCH   367  1726

In [13]:
# Filtrar filas donde hay medallas
df_medallas = df[df['Medal'].notna()]

# Contar el número de medallistas por NOC y género
medallas_por_noc_genero = df_medallas.groupby(['NOC', 'Sex'])['ID'].nunique().unstack(fill_value=0)

# Crear un DataFrame con el ranking de medallistas por género
ranking_medallistas = medallas_por_noc_genero.sort_values(by=['F', 'M'], ascending=False)

print("Ranking de Países con Más Medallistas por NOC y Género:")
print(ranking_medallistas.head(30))

Ranking de Países con Más Medallistas por NOC y Género:
Sex     F     M
NOC
USA  1094  2742
CHN   466   200
URS   419  1256
GER   416  1102
RUS   387   441
CAN   361   703
AUS   339   524
GBR   298  1303
GDR   276   418
NED   271   460
JPN   233   420
KOR   210   266
ROU   200   214
FRA   172  1105
SWE   153   955
HUN   144   554
NOR   140   521
ITA   137   980
ESP   112   296
BRA   103   257
FRG   101   359
BUL    96   184
EUN    96   139
DEN    88   412
POL    84   344
UKR    84    83
SUI    82   420
FIN    81   507
AUT    69   244
TCH    65   326